<h1>BIBLIOTECA</h1>
<p><i>WebApp di esempio</i></p>
<hr>
<p><b>Libri</b></p>
<p><a href="/books">Catalogo libri</a></p>
<p><a href="/books/new">Inserimento nuovo libro</a></p>
<hr>
<p><b>Utenti</b></p>
<p><a href="/users">Lista utenti</a></p>
<p><a href="/users/new">Inserimento nuovo utente</a></p>
<hr>
