<h1>Utenti della biblioteca</h1>

<table border="1">
  <tr>
    <th>Nome</th>
    <th>Cognome</th>
    <th>Nr. di telefono</th>
  </tr>

  <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.surname %></td>
        <td><%= user.phonenr %></td>
      </tr>
  <% end %>
</table>

<p><a href="/">Home</a></p>
