<h1>Dare in prestito un libro</h1>

  <p>
    <b>Autore: </b>
    <%= @book.author %>
  </p>
 
  <p>
    <b>Titolo: </b>
    <%= @book.title %>
  </p>
  
  <p>Dare in prestito a: 
	  <select>
	  	<option>Pippo</option>
	  	<option>Pluto</option>
	  </select>
  </p>
  
  <br>
  
  <p><a href="/books">Torna al catalogo libri</a></p>

 